<h3><%= link_to @event.description, @event %></h3>
<h4> 
    <%= form_tag  track_new_path(kind: 'Sport', model_id: @event.sport.id) do %>
    Sport: <%= link_to @sport.display(100) %> 
    <%= image_submit_tag 'add-icon.png', width: '20', height: '20' %> 
    <% end %>  
</h4>
<h6><%= link_to "Open Event Link on Bovada.lv (new window)", @event.url, target: :_blank %></h6>
<br><br>

<h4>Wagers for this Event</h4>
<%= form_tag  track_new_path(kind: 'Market') do %>
<table>
    <tr>
        <th width = 100>Type</th>
        <th width = 100>Period</th>
        <th width = 500>Description</th>
        <th width = 350>Outcomes</th>
        <th>Price</th>
    </tr>
    <% @event.markets.each do |e| %>
        <tr>
            <td><%= e.market_type %></td>
            <td><%= e.period %></td>
            <td><%= link_to e.description, e %><%= image_submit_tag 'add-icon.png', width: '16', height: '16', name: e.id %></td>
            <% e.outcomes.each do |o| %>
                <td><%= o.description %></td>
                <td><%= o.price(session) %></td>
            </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
            <% end %>
        </tr>
    <% end %>
</table>
<% end %>  
