<h3>Start Following a Team / Player</h3>
<%= form_tag choose_competitors_path do %>
    <%= label_tag :Sport_Name %>
    <%= select_tag :sport_name, options_for_select(@sports, @selected)%>
    <%= submit_tag "Filter by Sport Name" %>
<% end %>

<br>
<%= form_tag "add_watched" do %>
    <table>
        <tr>
            <th>League/Subset</th>
            <th>Name</th>
            <th># of Bets Available</th>
            <th></th>
        </tr>
    <% @comp.last(100).each do |c| %>
        <tr>
            <td><%= c.sport_name %></td>
            <td><%= link_to c.name, c %></td>
            <td><%= c.events.count %></td>
            <td>
                <%= check_box_tag 'competitor_ids[]', c.id %>
            </td>
        </tr>

    <% end %>
    </table>
<% end %>