<h3>Start Following a Team / Player</h3>
<%= form_tag choose_competitors_path do %>
    <div>
        <%= label_tag "Sport" %>
        <%= select_tag :sport_name, options_for_select(@sports, @selected[0]) %>
    </div>
    <div>
        <%= label_tag "Subset (league)" %>
        <%= select_tag :sub_name, options_for_select(@subs, @selected[1]) %>
    </div>
    <%= submit_tag "Filter by Sport Name" %>
<% end %>

<br>
<%= form_tag track_new_path do %>
    <%= hidden_field_tag 'kind', 'Comp'%>
    <table>
        <tr>
            <th>Name</th>
            <th># of Bets Available</th>
            <th><%= submit_tag "Follow" %></th>
        </tr>
    <% @comp.each do |c| %>
        <tr>
            <td><%= link_to c.name, c %></td>
            <td><%= c.events.count %></td>
            <td>
                <%= check_box_tag 'model_ids[]', c.id %>
            </td>
        </tr>

    <% end %>
    </table>
<% end %>