<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-5">
            <br><br><br>
            <%= form_tag wipe_assoc_path do %>
                <h5>Select the button to PERMANENTLY erase the  <%= @assoc_string %> between Uncut (Ruby) Gems data and your user account.</h5>
                <%= submit_tag "Delete Associations to Data"%>
            <% end %>
            <br><br><br>
            <%= form_tag purge_data_path do %>
                <% @radio_options.each do |r| %>
                    <div>
                        <%= radio_button_tag r[:name], r[:value], r[:checked] %>
                        <%= label_tag "Delete #{r[:count]} event records that #{r[:message]}" %>
                    </div>
                <% end %>
                <%= submit_tag "Purge event records (and all associated wager and outcome data!)" %>
            <% end %>
        </div>
        <div class="col-4">
            <%= image_tag "james-holz.png", style: 'height:80%;width:auto;' %>
        </div>
    </div>
</div>