<h3>My Sports</h3>
<% unless @user.my("Sport").empty? %>

    <div>
    <% @user.my("Sport").each do |e| %>
        <a href ="<%= remove_track_path(kind: 'Sport', model_id: e.id) %>"><%= image_tag "delete-sport.png", size: "20x20" %></a>
        <%= link_to e.display, e %><br />

    <% end %>
    <%= link_to "Follow New Sports", choose_sports_path %>

<% else %>
    <h6>Not Tracking Any Sports</h6>
    <%= link_to "Get Started", choose_sports_path %>
<% end %>
</div>