
<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/css/landing-page.min.css" rel="stylesheet">




<br>








    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="/welcomes.css"> -->

  </head>
  <body>
   
  <%# Sign/log in %>

       <% if current_user %>
          Signed in as 
            <%= current_user.username %> |
            <%= link_to "Home", "/account" %>
            <%= image_tag "ruby.png", size: "16x16" %> 
            <%= image_tag "ruby.png", size: "16x16" %>
            <%= link_to "My Sports" , sports_path %> |
            <%= link_to "My Teams & Players", teams_path %> |
            <%= link_to "My Matches & Events", matches_path %> |
            <%= link_to "My Wagers", wagers_path %> 
            <%= image_tag "ruby.png", size: "16x16" %>
            <%= link_to "Account" %> |
            <%= link_to "Data Maintenance" %> 
            <%= image_tag "ruby.png", size: "16x16" %>
            <%= label_tag "Done Crushing It?" %>
            <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>



  
 
<%= yield %>

 <!-- Footer -->
  <footer class="footer bg-light fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="http://https://flatironschool.com/", target="_blank">Flatiron School</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="https://github.com/MikaJakePizzaBake", target="_blank">Trevor Low</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="http://donmallory.tech" target="_blank">Don Mallory</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="http://www.gamblingtherapy.org" target="_blank">Need help?</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Uncut (Ruby) Gems 2020. All Rights Unreserved; Just Ask Nicely.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
 

  

  